.v-container {
  background-color: var(--background-color-300);
}

@media (max-width: 760px) {
  .v-container {
    position: absolute;
    height: 5vh;
    bottom: 0px;
    width: 100%;
  }
}

@media (min-width: 760px) {
  .v-container {
    width: 54px;
    height: 94vh;
  }
}

@media (min-width: 920px) {
  .v-container {
    width: 62px;
    height: 94vh;
  }
}
