<div class="d-flex">
   <div class="v-container">
      <nav
      *ngFor="let item of navItems let i = index" 
      (click)="navigate(item.link, i + 1, item.childs || [])" 
      class="item-container"
      [ngClass]="{ 'active-background-item': currentRoute.includes(item.source || item.link) }" 
      [title]="item.title"
      >
         <span
         [ngClass]="{ 'active-item': currentRoute.includes(item.source || item.link) }"
         style="font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 48;" 
         class="material-symbols-outlined v-icon"
         >{{item.icon}}</span>
      </nav>
   </div>
   <div *ngIf="moreDetails" class="c-more-details">
      <nav 
      *ngFor="let child of childs let i = index">
      {{screenWidth}}
      </nav>
   </div>
</div>

