.v-container{
   position: relative;
   background-color: var(--bg-color-sidenave);
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 10px 0px;
   gap: 10px;
}

.item-container{
   width: 100%;
   padding: 8px 10px;
   display: flex;
   align-items: center;
   cursor: pointer;
   transition: background-color 0.1s ease;
   &:hover{
      background-color: var(--background-color-700);
      .v-icon{
         color: var(--active-item)
      }
      .v-nav-text{
         color: var(--active-item)
      }
      .nav-mark{
         animation-play-state: running;
      }
   }
}

.v-icon{
   color: var(--disabled-item);
}

.v-nav-text{
   color: var(--disabled-item);
   user-select: none;
}

.active-item{
   color: var(--active-item);
}

.active-background-item{
   background-color: var(--background-color-600);
}

.nav-mark{
   position: absolute;
   left: 0px; 
   width: 3px; 
   height: 40px; 
   background-color: var(--active-item);
   border-radius: 0 4px 4px 0;
   transition: transform 0.4s ease;
}

@media (max-width: 760px) {
   .v-container {
      position: absolute;
      height: 5vh;
      bottom: 0px;
      width: 100%;
   }
}

@media (min-width: 760px){
   .v-container {
     width: 100px;
     height: 94vh;
     border-right: 1px solid var(--border-sidenave);
   }
}

@media (min-width: 920px){
   .v-container {
     width: 145px;
     height: 94vh;
   }
}