.v-container{
   display: grid;
   position: fixed;
   z-index: 1;
   grid-template-columns: 4% 80% 16%;
   background-color: var(--bg-color-header);
   border-bottom: 1px solid var(--border-sidenave);
   width: 100%;
   height: 49px;
}

.c-nav-items{
   display: flex;
   gap: 1.5rem;
   align-items: center;
   padding: 0px 30px;
}

.v-item{
   user-select: none;
   margin: 0px;
   cursor: pointer;
   padding: 7px 0px;
}

@media (min-width: 760px){
   .v-container {
      grid-template-columns: 54px 80% 16px;
   }
}

@media (min-width: 920px){
   .v-container {
      grid-template-columns: 150px 80% calc(100% - 80% - 150px);
   }
}