*{
   font-family: 'Inter', sans-serif;
}

h1, .text-heading-1 {
   font-size: 3em;
 }
 
 h2, .text-heading-2 {
   font-size: 2.5em;
 }
 
 h3, .text-heading-3 {
   font-size: 2em;
 }
 
 h4, .text-heading-4 {
   font-size: 1.5em;
 }
 
 h5, .text-heading-5 {
   font-size: 1.25em;
 }
 
 h6, .text-heading-6{
   font-size: 1.125em;
 }

 .nav-item-text{
  font-size: 15px;
  font-weight: 400;
 }
 
 p{
  color:aliceblue;
 }

 .nav-text{
  font-size: 0.9rem;
  font-weight: 300;
 }

 .title-100{
  font-weight: 400;
  font-size: 19px; 
 }

 .title-200{
  font-weight: 300;
  font-size: 16px; 
 }

 .title-300{
  font-weight: 300;
  font-size: 14px; 
 }

 .title-400{
  font-weight: 300;
  font-size: 12px; 
 }