.light-theme {
   --background-color-100: #F9F9F9;
   --background-color-200: #F5F5F5;
   --background-color-300: #ECECEC;
   --background-color-400: #6E6E6E;
   --background-color-500: #161616;
 }
 
 .dark-theme {
   --background-color-100: #444444;
   --background-color-200: #2F2F2F;
   --background-color-300: #1E1E1E;
   --background-color-400: #161616;
   --background-color-500: #101010;
 }