// :root{
//    --background-color-100: #F9F9F9;
//    --background-color-200: #F5F5F5;
//    --background-color-300: #ECECEC;
//    --background-color-400: #6E6E6E;
//    --background-color-500: rgb(8, 8, 8);
// }

$background-color-100: #F9F9F9;
$background-color-200: #F5F5F5;
$background-color-300: #ECECEC;
$background-color-400: #6E6E6E;
$background-color-500: rgb(8, 8, 8);