/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import './assets/styles/custom/typography.scss';
@import './assets/styles/themes.scss';
@import './assets/styles/custom/bootstrap.scss';